# Database Connection String (PostgreSQL)
DB_CONNECTION_STRING=Host=localhost;Port=5432;Database=reminlo;Username=admin;Password=secret;

# JWT Settings
JWT_KEY=553dfb7e64ee95ea415cf759c1c31dfdd3fe01b38c5aec099f95800174dc8294bd9791425f76eb874b8fbcd01b20d5e0d6ceffb618ab926995b7b2ac52c1507b04128fdbfbaf6e4271812576227671c6baf9153efc961a4c29eb6c7b47118e3f59e361e0911dbac95cc6342186d482f53dfe08bbf32677710a1eb9c2018c1c2d
JWT_ISSUER=Reminlo
JWT_AUDIENCE=Reminlo

# Email Settings
EMAIL_HOST=localhost
EMAIL_PORT=2525
EMAIL_ENABLE_SSL=false
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=test@yourdomain.com

# Logging
LOG_LEVEL=Information

# App Settings
APP_BASE_URL=https://localhost:7294
